body
{
    color: #333;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#cabecera
{
    background: mediumblue;
    color: oldlace;
    margin: 0;
    padding: 0.5cm;
}
#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container
{
    font-size: 20px;
}